{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/c08a1bc374.js" crossorigin="anonymous"></script>
    <title>Sign-In</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
  </head>
  <body>
  <nav>
    <div class="logo">
        <p>Login</p>
    </div>
  </nav>
  <br><br>
    <div class="box">
      <h1>Login</h1>
      <form method="POST" class="frm">
        {% csrf_token %}
        <input type="text" class="username" name="username" id="username" placeholder="Enter username" required/><br />
        <input type="password" class="pass1" name="pass1" id="pass1" placeholder="Enter password" required/><br />

        <a href="" class="forgot">Forgot Password?</a><br><br>

        <div class="submit">
          <button class="btn-primary" type="submit">Login</button>
        </div>
      </form>
      <p>
        Don't have an account?
        <a href="{% url 'signup' %}">Create an account</a>.
      </p>
      <div class="fb">
        <a href=""><button><i class="fa-brands fa-square-facebook"></i>Login with Facebook</button></a>&nbsp<a href=""><button><i class="fa-brands fa-google"></i>Login with Google</button></a>&nbsp<a href=""><button><i class="fa-brands fa-google"></i>Login with Google</button></a>
      </div>
    </div>
  </body>
</html>